<div class="info-line">
    <div class="info-line__adress">
        Адрес:
        <a
            href="https://www.google.com/maps/place/S-Dental/@48.634589,24.5670444,17z/data=!3m1!4b1!4m5!3m4!1s0x473732f13fbde101:0xf030cff502e97259!8m2!3d48.6346441!4d24.5691659"
            class="info-line__link"
        >
            м.Надвірна, вулиця Гетьмана Мазепи, 8/1
        </a>
    </div>
    <div class="info-line__phone-number">
        Номер телефону: <a
            href="tel:+380 98 549 1336"
            class="info-line__link"
    >+380 98 549 1336</a>
    </div>
</div>
