<nav class="nav">
    <ul class="nav__list">
        <li class="nav__list-item">
            <router-link to="/" class="nav__link">Головна</router-link>
        </li>
        <li class="nav__list-item">
            <router-link to="/gallery" class="nav__link">Галерея</router-link>
        </li>
        <li class="nav__list-item">
            <router-link to="/services" class="nav__link">Послуги</router-link>
        </li>
        <li class="nav__list-item">
            <router-link to="/our-doctors" class="nav__link">Наші лікарі</router-link>
        </li>
        <li class="nav__list-item">
            <router-link to="/contacts" class="nav__link">Контакти</router-link>
        </li>
    </ul>
</nav>


