$color-dark: #282828;
$color-light: #fff;
$color-1: #005E68;
$color-2: #3E8D4C;
$color-3: #96CF24;
$color-gradient-1: linear-gradient(180deg, #005E68 0%, #96CF24 61.98%);
$color-gradient-2: linear-gradient(269.77deg, #005E68 0.2%, #3E8D4C 53.12%, #96CF24 99.81%);
$color-gradient-3: linear-gradient(180deg, #3E8D4C 53.12%, #005E68 100%);
$header-height: 100px;
$underline-active-height: 5px;
$basic-info-line-height: 30px;
