@import 'utilites/variables';
@import 'utilites/mixins';

@import 'components/navigation';
@import 'components/header';
@import 'components/basicInfo';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-dark;
  font-family: Helvetica, Arial, sans-serif;
}
